In [53]:
import pandas as pd

In [55]:
pd.__version__

'2.2.2'

In [57]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [59]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [61]:
df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)

In [65]:
df.lpep_dropoff_datetime= pd.to_datetime(df.lpep_dropoff_datetime)

In [67]:
from sqlalchemy import create_engine

In [69]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [71]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [73]:

df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000)

In [75]:
df = next(df_iter)

In [77]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,2019-10-01 19:25:01,2019-10-01 19:33:28,N,1,74,41,0,1.30,7.5,0.50,0.5,2.20,0.0,NaN,0.3,11.00,1,1,0.00
9996,1,2019-10-01 19:56:50,2019-10-01 20:15:05,N,1,74,142,0,4.40,15.5,3.25,0.5,3.90,0.0,NaN,0.3,23.45,1,1,2.75
9997,2,2019-10-01 19:30:35,2019-10-01 19:48:33,N,1,181,62,1,3.01,14.0,1.00,0.5,0.00,0.0,NaN,0.3,15.80,1,1,0.00
9998,2,2019-10-01 19:01:27,2019-10-01 19:06:45,N,1,43,263,1,1.12,6.0,1.00,0.5,1.50,0.0,NaN,0.3,12.05,1,1,2.75
9999,1,2019-10-01 19:25:27,2019-10-01 19:38:31,N,1,196,102,1,2.20,10.5,1.00,0.5,2.45,0.0,NaN,0.3,14.75,1,1,0.00

In [79]:
len(df)

10000

In [81]:
df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime= pd.to_datetime(df.lpep_dropoff_datetime)

In [83]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [87]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 1.39 s
Wall time: 2.23 s

1000

In [89]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

# Read the CSV file in chunks
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000)

# Loop through each chunk of the CSV file
while True:
    try:
        # Record the start time to measure performance
        t_start = time()

        # Get the next chunk of data
        df = next(df_iter)

        # Convert 'lpep_pickup_datetime' and 'lpep_dropoff_datetime' columns to datetime
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

        # Insert the chunk of data into the SQL database
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False)

        # Record the end time and calculate the time taken to insert the chunk
        t_end = time()

        # Print the time taken to insert the chunk
        print(f'Inserted another chunk... Took {t_end - t_start:.3f} seconds')

    except StopIteration:
        # Exit the loop when all chunks have been processed
        print("All chunks have been processed and inserted.")
        break

Inserted another chunk... Took 2.812 seconds
Inserted another chunk... Took 2.058 seconds
Inserted another chunk... Took 1.809 seconds
Inserted another chunk... Took 2.005 seconds
Inserted another chunk... Took 1.774 seconds
Inserted another chunk... Took 1.583 seconds
Inserted another chunk... Took 2.148 seconds
Inserted another chunk... Took 1.605 seconds
Inserted another chunk... Took 2.080 seconds
Inserted another chunk... Took 1.530 seconds
Inserted another chunk... Took 1.884 seconds
Inserted another chunk... Took 2.037 seconds
Inserted another chunk... Took 2.344 seconds
Inserted another chunk... Took 1.984 seconds
Inserted another chunk... Took 2.005 seconds
Inserted another chunk... Took 1.487 seconds
Inserted another chunk... Took 1.619 seconds
Inserted another chunk... Took 2.254 seconds
Inserted another chunk... Took 1.373 seconds
Inserted another chunk... Took 1.395 seconds
Inserted another chunk... Took 1.561 seconds
Inserted another chunk... Took 1.574 seconds
Inserted another chunk... Took 1.478 seconds
Inserted another chunk... Took 2.053 seconds
Inserted another chunk... Took 1.675 seconds
Inserted another chunk... Took 1.436 seconds
Inserted another chunk... Took 1.397 seconds
Inserted another chunk... Took 1.630 seconds
Inserted another chunk... Took 1.376 seconds
Inserted another chunk... Took 2.094 seconds
Inserted another chunk... Took 1.504 seconds
Inserted another chunk... Took 1.743 seconds
Inserted another chunk... Took 1.633 seconds
Inserted another chunk... Took 1.629 seconds
Inserted another chunk... Took 1.845 seconds
Inserted another chunk... Took 2.511 seconds
Inserted another chunk... Took 1.571 seconds
Inserted another chunk... Took 1.568 seconds
Inserted another chunk... Took 1.486 seconds
Inserted another chunk... Took 1.540 seconds
Inserted another chunk... Took 1.626 seconds
Inserted another chunk... Took 1.756 seconds
Inserted another chunk... Took 1.553 seconds
Inserted another chunk... Took 1.503 seconds
Inserted another chunk... Took 1.630 seconds
Inserted another chunk... Took 1.614 seconds
Inserted another chunk... Took 1.539 seconds
Inserted another chunk... Took 1.569 seconds
All chunks have been processed and inserted.

In [91]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'taxi_zone_lookup.csv'